<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
    <title>CONTATO</title>
    <link rel="stylesheet" href=" {% static 'css/style2.css' %} "/>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="/static/css/logo.png" class="logo">
            <ul>
                <li><a href="home">HOME</a></li>
                <li><a href="equipe">EQUIPE</a></li>
                <li><a href="contato">CONTATO</a></li>
                <li><a href="index">ADMIN</a></li>
            </ul>
        </div>
        <div class="container">
            <h1>Fale com a gente!</h1>
            <p>Vamos adorar responder às dúvidas e ajudá-lo(a) no que for preciso.
            <div class="contact-box">
                <div class="contact-left">
                    <h3>Envie sua dúvida</h3>
                    <form>
                        <div class="input-row">
                            <div class="input-group">
                                <label>Nome:</label>
                                <input type="text" placeholder="">
                            </div>
                            <div class="input-group">
                                <label>E-mail:</label>
                                <input type="email" placeholder="">
                            </div>
                        </div>
                        <div class="input-row">
                            <div class="input-group">
                                <label>Telefone:</label>
                                <input type="text" placeholder="">
                            </div>
                            <div class="input-group">
                                <label>Assunto:</label>
                                <input type="text" placeholder="">
                            </div>

                        </div>

                        <label>Sua mensagem:</label>
                        <textarea rows="5" placeholder=""></textarea>

                        <button class="btt2" type="submit">ENVIAR</button>
                    </form>
                </div>

                <div class="contact-right">
                    <h3>Você nos encontra aqui:</h3>

                    <table>
                        <tr>
                            <td>E-MAIL  </td>
                            <td>contato@bscrud.com</td>
                        </tr>
                        <tr>
                            <td>TELEFONE </td>
                            <td>  +55 81 2345 6789</td>
                        </tr>
                        <tr>
                            <td>ENDEREÇO </td>
                            <td>Rua Principal, 123, Centro | RECIFE PE</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>