<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
    <title>EQUIPE</title>
    <link rel="stylesheet" href=" {% static 'css/style2.css' %} "/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="/static/css/logo.png" class="logo">
            <ul>
                <li><a href="home">HOME</a></li>
                <li><a href="equipe">EQUIPE</a></li>
                <li><a href="contato">CONTATO</a></li>
                <li><a href="index">ADMIN</a></li>
            </ul>
        </div>
        <div class="container1">
            <div class="header2">
                <h1>Nossa Equipe</h1>
            </div>
            <div class="sub-container">
            <div class="teams">
                <img src="/static/css/team3.jpg">
                <div class="perfil">Cinara Menezes</div>
                <div class="cargo">UX/UI | Software Developer</div>
                <div class="about">mnzs.cinara@gmail.com</div>

                <div class="social-links">
                    <ul>
                    <a href="https://www.linkedin.com/in/cinara-menezes-60580318a/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="https://github.com/cinmnzs"><i class="fa fa-github" aria-hidden="true"></i></a>
                    </ul>
                </div>
            </div>

            <div class="teams">
                <img src="/static/css/team2.jpg">
                <div class="perfil">Lucas Gabriel</div>
                <div class="cargo">Data Engineer | Data Analyst</div>
                <div class="about">lucasg2018@outlook.com</div>

                <div class="social-links">
                    <ul>
                    <a href="https://www.linkedin.com/in/lucas-gab7/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="https://github.com/AegonX007"><i class="fa fa-github" aria-hidden="true"></i></a>
                    </ul>
                </div>
            </div>

            <div class="teams">
                <img src="/static/css/team1.jpg">
                <div class="perfil">Raphael Costa</div>
                <div class="cargo">DBA | Data Analyst</div>
                <div class="about">raphasilcosta@gmail.com</div>

                <div class="social-links">
                    <ul>
                    <a href="https://www.linkedin.com/in/raphael-silva-aa7b48196/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="https://github.com/RaphaSilva625"><i class="fa fa-github" aria-hidden="true"></i></a>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>